<!doctype html>
<html class="no-js" lang="" ng-app="cssdesk">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CSS DESK</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="js/bower_components/reveal.js/css/reveal.css">
        <link rel="stylesheet" href="js/bower_components/reveal.js/css/theme/black.css">
        <link rel="stylesheet" href="js/bower_components/reveal.js/lib/css/zenburn.css">

        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <main ng-controller="slidesCtrl" role="main" id="main" class="reveal">
            
            <div class="slides">
                <section>
                    <h1 data-type="heading">CSS Desk</h1>
                    <h3 data-type="heading" class="highlight">CSS Playground for Modern Web</h3>
                </section>

                <section>
                    <section>
                        <h2>Flexbox</h2>
                        <div>
                            <img src="img/flex_terms.png" alt="flexbox">
                        </div>
                    </section>
                    <section>
                        <h2 data-type="heading" class='highlight'>Flexbox - Terms</h2>
                        <div>
                            <ul>
                                <li>Flex Container</li>
                                <li>Flex Item</li>
                                <li>Direction</li>
                                <li>Dimensions</li>
                            </ul>
                        </div>
                    </section>
                    <section class="direction">
                        <h2 data-type="heading" class="highlight">Direction</h2>
                        <ul>
                            <li>flex-direction (main-axis)</li>
                        </ul>
                        <div>
<pre>
.flex-container{
    flex-direction: <select ng-model="flexDirection" ng-options="direction for direction in flexDirections "></select> ;
}
</pre>
                        </div>
                        <div class="flex-container box-container" ng-style="directionStyle">
                            <div class="box flex-item" >One</div>
                            <div class="box flex-item" >Two</div>
                            <div class="box flex-item" >Three</div> 
                        </div>
                    </section>
                    <section class="direction">
                        <h2 data-type="heading" class="highlight">Direction</h2>
                        <ul>
                            <li>align-items (cross-axis)</li>
                        </ul>
                        <div>
<pre>
.flex-container{
    align-items: <select ng-model="alignItem" ng-options="align for align in alignItems "></select> ;
}
</pre>
                        </div>
                        <div class="flex-container box-container" ng-style="alignStyle">
                            <div class="box flex-item">One</div>
                            <div class="box flex-item">Two</div>
                            <div class="box flex-item">Three</div> 
                        </div>
                    </section>
                    <section class="direction">
                        <h2 data-type="heading" class="highlight">Direction</h2>
                        <ul>
                            <li>flex-direction (main-axis)</li>
                            <li>align-items (cross-axis)</li>
                        </ul>
                        <div>
<pre>
.flex-container{
    align-items: <select ng-model="directionContainer.alignItem" ng-options="align for align in alignItems "></select> ;
    flex-direction: <select ng-model="directionContainer.flexDirection" ng-options="direction for direction in flexDirections "></select> ;
}
</pre>
                        </div>
                        <div class="flex-container box-container" ng-style="directionContainerStyle">
                            <div class="box flex-item">One</div>
                            <div class="box flex-item">Two</div>
                            <div class="box flex-item">Three</div> 
                        </div>
                    </section>
                </section>

                

            </div>

        </main>


        <!-- TODO | GULP inclusions -->

        <script src="js/bower_components/angularjs/angular.min.js"></script>
        <script src="js/bower_components/lodash/lodash.min.js"></script>
        <script src="js/bower_components/reveal.js/js/reveal.js"></script>

        <script src="js/app/app.js"></script>
        <script src="js/app/_controllers/slides.js"></script>
        <script>
            Reveal.initialize({
                controls: true,
                progress: true,
                history: true,
                center: true,

                transition: 'slide', // none/fade/slide/convex/concave/zoom
            });

        </script>
    </body>
</html>
